body{

	background: url("images/slider-bg.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: #003147;
}
.container{
	background: rgba(0,0,0,0.8);
}
.header{
	background: url("images/main-bg.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.nav{
	background: #b70000;	
}
.navv li{
	color:#FFFF00;
}
.navv a{
	color:#FFFF00;
}
.container{
	padding: 0;
}
.titles{
	color:#FFFFFF;
}
.main_postcontent{
	background: rgba(0,0,0,0);
}

.itemss{
	float: left;
	padding:3px;
	margin-right:5px;
}
.in h2{
	color: #EFD945;
font-size: 16px;
/*padding-bottom: 17px;*/
text-transform: uppercase;
font-weight: bold
	
}

.in ul{
	margin-left: 5px;
	padding: 0 10px 5px;
}

.in ul li a, .in ul li {
	color: #FFFFFF;
	line-height: 1.2em;
}
.in ul li a{
	text-decoration: none;
}
.in ul li a:hover{
	color: #0063DC;
}



.footercol{
 border-right: 1px solid #CD3333; 
}

.footercol.last{
	border-right: 0;
}

.footer{
	
border: medium none;
padding-bottom: 10px;
padding-top: 34px;
background: url("images/main-bg.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);

}
.copy{
	border-top: 1px solid #CD3333;
	padding-top: 10px;
	padding-left: 5px;
	
}
.copy p{
	color: #EB9999;
	font-size: 11px;
}

.id-profile{
	background:#FBF9EE;
	padding:3px;
		
}
.id-profile h4{
	color:#0033CC;
}
.post-content{
	color:#FFFF00;
}
.post-content h3{
	color:#FFFF00;
}
.post-r{
	background: #FFFFAA;
	padding: 5px;
}
 
.post-r h2{
	color: #000000;
	background: #FFB73D;
}
.post-r ul{
	list-style: none;
}
.harga{
	color: #FFFFFF;
	float: right;
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	text-align: right;
	width: 200px;	
	margin-right: 12px;
}
.waktu{
	color:#FFFF00;
}
.judul a{
	color:#E2E2FF;
}
.condisi{
	color:#FFFF00;
}.daerah{
	color:#FFFF00;
}
.login_user h2{
	color: #FFFFFF;
}
.log-item {
	color: #FFFFFF; 
}
.log-item h2 {
	color: #FFFFFF;
}

.dash_user table tr th {
	color:#FFFFFF;
}
.dash_user table tr th label h3, .dash_user table tr td label{
	color:#FFFFFF;
}
.dash_user h2{
	color: #FFFFFF;
}


