html,body{
	padding: 0;
	margin:0;
	background: #FFFFEC;		
}
a{
	cursor: pointer;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 5px;
}

select{
	width: 300px;
	padding: 5px
}

/*header*/
.header{
	background: rgba(0,100,100,1);
	height: 85px;	
	position: relative;
	border-radius:5px;
}

.logo{
	padding-left: 20px;
	background: -moz-linear-gradient(left, #000000, #000000, rgba(0,100,100,1));	
	background: -webkit-linear-gradient(left, #000000, #000000, rgba(0,100,100,1));	
	width:180px;
}

.searching{
	float: right;
	
}
.searchings{
	width: 400px;
	padding: 6px 6px 7px
	
}

.nav select{
	width: 200px
}

.searching .s{
	padding: 3px 5px 6px;
	border-radius:10px;	
}

.nav{
	height: 43px;
	background: -moz-linear-gradient(top, #000000, #000000, #ffffff);	
	background: -webkit-linear-gradient(top, #000000, #000000, #ffffff);
	border-radius:4px;	
	padding-left:2px;	
}

.nav .sf-menu{
	margin-bottom: 0;
}
.nav .sf-menu li{
	background: #000000;
}

.nav .sf-menu li a{
	color: #FFFFFF;
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.nav .sf-menu li :hover {
	background:#FF8800;
	color: #000000;
}
.nav .sf-menu li a:hover, .nav .sf-menu li.sfHover a{
	color: #FFF6F6;
}


/*end header*/


/*contents*/
.contents{
	background: #EEEEEE;
	min-height: 450px;
	
}



/*end contents*/




/*footer*/
.footer{
	background: rgba(0,100,100,1);
	min-height: 40px;
	border-radius:5px;
	width: 930px;
}

.footer,.copy{
	
	color: #FFEEFF;
	padding-top: 15px;
	padding-left: 20px;
}
/*end footer*/



/*dashboard user*/
.nav-dashboard{
	width: 150px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.nav-dashboard h3{
	background: #0D3349;
	padding: 5px;
	border: 2px solid #111111;
	border-radius: 5px 5px 0px 0px;
	margin-bottom: 0;
	margin-top: 10px;
	color:#26B3F7;
}

.nav-dashboard div{
	background: #999;
	padding: 5px 0;
	border-radius: 0px 0px 3px 3px;
}

.nav-dashboard ul{
	list-style: none;
	padding: 0 6px 0 4px;
	margin: 0;
}

.nav-dashboard ul li{
	margin-bottom: 1px
}

.nav-dashboard ul li a{
	width: 100%
}
li.current a{
	background: #0D3349
}

.dash_user{
	margin-left: 10px;
	padding: 10px;
	float: left;
	background: rgba(0,0,0,0.2);
	width: 740px;
	min-height: 500px;
	margin: 10px 0;
	border-radius: 5px
}
.dash_user #tabs-1, .dash_user #tabs-2{
	padding: 0
}

.dash_user .ui-widget-content {
	color: #000
}
.dash_user .ui-widget-content a{
	color: #0066cc;
}
.dash_user .ui-widget-content a:hover{
	color: #0099FF;
}
.dash_user .paging_full_numbers .ui-button {
	color: #FFF !important
}
 

/*end dashboard user*/


