
html, body{
	padding: 0;
	margin: 0	
}

body{
	background:#212121;
	
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6{
	margin:5px 0;
}



/*header*/
.header{
	
	background-image: url('images/foot1.png');
	
	min-height: 50px;
	border-radius : 5px;	
	
}

img.adminLogo:hover{
	opacity: 1;
	
}
/*end header*/


/*contents*/
.contents{
	background: #FBF9EE;
	min-height: 550px;
	padding-left: 5px;
}

.ui-accordion .ui-accordion-content {
  margin: 0;
  overflow: inherit;
  padding: 0;
  position: relative;
}

#accordion .sf-menu {
  width: 100%;
}

#accordion .sf-menu li a{

  color:#000000;
}

.dataTables_length select{
	width: auto !important;
	padding: 0 !important;
	border: 1px solid #AAAAAA
}
.dataTables_filter input[type='text']{
	width: auto !important;
	padding: 0 !important;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	border-radius: 3px;
}

.datatable textarea{
	width: auto !important;
	height: auto !important;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	border-radius: 3px;
}


.isi{
	float: left;
	width: 740px;
}

.isi input[type='text'], .input{
	width: 300px;
	padding: 7px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	border-radius: 3px;
}
.isi select{
	width: 300px;
	padding: 5px;
	border: 1px solid #AAAAAA
}

.isi textarea{
	width: 400px;
	height: 150px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	border-radius: 3px;
}


.themes .themebox {
    background: none repeat scroll 0 0 rgb(246, 244, 241);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: rgb(51, 51, 51);
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 4px;
    padding: 10px;
    width: 210px;
    height: 220px;
    position: relative;
}
.themes .themebox img {
    border: 1px solid rgb(102, 102, 102);
    height: auto;
    max-height: 140px;
    width: 100%;
}
.themebox h3 {
    margin: 10px 0 15px;
}

.mediacontainer{
	list-style: none;
}
.mediacontainer li{
	border: 2px solid rgb(255, 255, 255,0.7);
	float: left;
	width: 100px;
	margin-right: 10px;
	padding: 5px;
}
.mediacontainer .selectit{
	margin-left: 23px;
}

.infomedia{
	margin-top: 20px;
	position: relative;
}

.removemedia{
	position: absolute;
	right: 0;
	top: 0;
}
/*end contents*/

#gambars li {
    border: 1px solid #666666;
    float: left;
    height: 112px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    position: relative;
    width: 112px;
}
#gambars li img {
    height: 100%;
    width: 100%;
}
#gambars li .deletephoto {
    background-image: url("../images/fancybox_sprite.png");
    cursor: pointer;
    display: block;
    height: 36px;
    overflow: hidden;
    position: absolute;
    right: -18px;
    text-indent: -9999em;
    top: -18px;
    width: 36px;
    z-index: 10;
}


/*footer*/
.footer{
	background-image: url('images/foot1.png');
	min-height: 40px;
}


.sidebarcontainer {
    border: 1px solid #C0C0C0;
    border-radius: 7px;
    float: left;
    margin: 10px;
    padding: 10px;
    width: 300px;
}
.sidebarcontainer h3 {
    margin: 5px;
}

.sidebarcontainer a.editSidebar, .sidebarcontainer a.hapusfooterc{
	color: #0066CC;	
}

#GeneralDialog h3{
	color: #FBF9EE;
}

#SideContainer .sidebarcontainer {
    padding: 5px;
}


/*end footer*/



	/* -- RESPONSIVE DENGAN MEDIA QUERIES -- */
	@media screen and (max-width: 1024px) {
		/* CSS styles */
		.container,#accordion .sf-menu{
			width: 100%;
						
		}
		.header{
			border-radius : 0px;
					
		}	
	}
	@media screen and (max-width: 768px) {
		/* CSS styles */
		.contents {
			float: none;
			display: block;
			width: auto;		
			
		}
		
		
	}

